---
title: 東京工業大学折紙同好会FIT
---

<div class="welcome">
  <h1>作品集</h1>
  <p class="doc">
    <%= link_to "Facebook", "https://www.facebook.com/pages/東京工業大学折り紙同好会/158359807646467" %>
    <%= link_to "Twitter", "https://twitter.com/FoldersInTitech" %>
  </p>
</div>